@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&display=swap');

:root {
  --clr-neutral-dark: rgb(30, 33, 46);
  --clr-neutral: rgb(255, 255, 255);
  --clr-accent: rgb(196, 219, 102);
  --clr-accent-2: rgb(240, 112, 118);
  --clr-accent-3: rgb(166, 145, 222);
  --clr-subtle: rgb(128, 168, 255);
}



body {
  // Default
  min-height: 100vh;
  line-height: 1.5;

  // Font
  font-family: 'IBM Plex Mono', monospace, sans-serif;

}
