/* FONTS */
.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.fs-1 {
  font-size: 35px;
}

.text-dark {
  color: var(--clr-dark-blue);
}

/* FLEX */
.flex {
  display: flex;
}

.col-reverse {
  flex-direction: column-reverse;
}

/* Aesthetic */
.flow > * + * {
  margin-top: 1.5em;
}